

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
    transition: all 0.5s;
  }
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
  }
.map{
  width: 400px;
  height: 500px;
  background-color: aliceblue;
}
.offcanvas-backdrop.fade.show {
  pointer-events:none 
 }
legend {
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
}

.chooseCat {
  margin: 0.4rem;
}

.divFilter {
  width: 250px;
  display: flex;
  justify-content: center;
}

.placeListMain {
  min-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mainContainer {
  display: flex;
  justify-content: space-around;
}

.card {
  margin: 0 10px 50px 10px
}

#enter {
  margin: 15px auto;
  background-color: white;
  color: black;
  border: 2px solid #04AA6D;
  transition-duration: 0.4s;
}

#enter:hover {
  background-color: #04AA6D;
  color: white;
}

.btn-primary {
  background-color: white !important;
  color: black !important;
  border: 2px solid red !important;
  transition-duration: 0.4s !important;
}

.btn-primary:hover {
  background-color: rgba(255, 0, 0, 0.621) !important;
  color: white !important;
}

.favoriteList {
  display: flex;
  flex-wrap: wrap;
  min-width: 1200px;
  margin: 50px auto;
}
