legend {
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
}

.chooseCat {
  margin: 0.4rem;
}

.divFilter {
  width: 250px;
  display: flex;
  justify-content: center;
}

.placeListMain {
  min-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mainContainer {
  display: flex;
  justify-content: space-around;
}

.card {
  margin-bottom: 20px;
}

#enter {
  margin: 15px auto;
  background-color: white;
  color: black;
  border: 2px solid #04AA6D;
  transition-duration: 0.4s;
}

#enter:hover {
  background-color: #04AA6D;
  color: white;
}

.btn-primary {
  background-color: white !important;
  color: black !important;
  border: 2px solid red !important;
  transition-duration: 0.4s !important;
}

.btn-primary:hover {
  background-color: rgba(255, 0, 0, 0.621) !important;
  color: white !important;
}