legend {
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
}

.chooseCat {
  margin: 0.4rem;
}

.divFilter {
  width: 400px;
  display: flex;
  justify-content: center;
}

.placeListMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mainContainer {
  display: flex;
  justify-content: space-around;
}

.card {
  margin-bottom: 20px;
}

#enter {
  margin: 15px auto;
}